[alias]
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
    staged = diff --cached
    delete-merged-branch = !git branch --merged | grep -v -E '\\*|master|main' | xargs git branch -d; git fetch --prune
    logp = log -p -- . ":(exclude)package-lock.json"
[core]
    autocrlf = false
    quotepath = false
    ignorecase = false
    excludesfile = ~/dotfiles/.gitignore_global
    attributesfile = ~/dotfiles/.gitattributes
[init]
	defaultBranch = main
[push]
    default = simple
[pull]
    rebase = merges
[rerere]
    enabled = true
[commit]
    verbose = true
[merge]
    tool = vscode
    conflictstyle = zdiff3
[mergetool]
    prompt = true
[mergetool "vscode"]
    cmd = code --wait "$MERGE"
[diff]
    tool = vscode
    algorithm = histogram
[difftool]
    prompt = false
[difftool "vscode"]
    cmd = code --wait --diff "$LOCAL" "$REMOTE"
[help]
    autocorrect = -1
[color]
    ui = auto
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
[ghq]
    root = ~/src