<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- manage chocolatey itself -->
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <!-- <package id="chocolateygui" /> -->

  <!-- environment -->
  <package id="nvidia-display-driver" />
  <!-- <package id="wacom-driver" /> -->
  <package id="cica" />
  <package id="GoogleJapaneseInput" />

  <!-- utility -->
  <package id="gsudo" />
  <package id="1password" />
  <!-- <package id="autohotkey.portable" /> -->
  <package id="7zip" />
  <package id="QTTabBar" />
  <package id="win32yank" />

  <!-- stroage -->
  <package id="synctrayzor" />

  <!-- productivity -->
  <package id="ueli" />
  <package id="notion" />
  <package id="Everything" />

  <!-- programming -->
  <!-- should use git for windows sdk -->
  <!-- <package id="git" /> -->
  <package id="wsl2" />
  <package id="docker-desktop" />
  <package id="vscode" />
  <package id="visualstudio2019buildtools" />
  <package id="rustup.install" />
  <package id="golang" />
  <package id="dotnet" />

  <!-- chat -->
  <package id="line" />
  <package id="skype" />
  <package id="slack" />
  <package id="discord" />
  <package id="zoom" />

  <!-- reader & browser -->
  <package id="googlechrome" />
  <package id="Kindle" />

  <!-- graphics -->
  <package id="blender" />
  <package id="massigra" />
  <!-- use ignore-checksum option for install figma -->
  <!-- <package id="figma" /> -->

  <!-- gaming -->
  <package id="steam-client" />
  <package id="rpgtkoolvx-rtp" />
  <package id="rpgtkoolvxace-rtp" />

  <!-- broadcast -->
  <package id="obs-studio" />

  <!-- english -->
  <package id="deepl" />
</packages>
